.apiErrorMessage_mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  padding: 0 3rem;
  width: 100%;
}

.apiErrorMessage__div {
  display: flex;
  align-items: left;
  flex-direction: column;
  border-radius: 0.28rem;
  padding: 0.5rem 1rem;
  max-width: 1000px;
  background-color: #fff6f6;
}

.apiErrorMessage__header {
  color: #912d2b;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 800;
}

.apiErrorMessage__div p {
  color: #912d2b;
  font-family: var(--font-family);
  font-size: .97rem;
  font-weight: 500;
}
