.curio__search {
  padding: 0 3rem;
}

.curio__search Input {
  display: flex;
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 27px;
  color: #3d6184;
}
.curio__search button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #ff4820;
  border: 2px solid #ff4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.curio__search :hover {
  color: black;
}

.curio__search__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .curio__search Input {
    font-size: 1.4rem;
  }
}
