.curio__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 4rem;
}

.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.curio__icon{
  width: 15mm;
  height: 15mm;
}

.curio__tag{
  padding: 0rem 4.5rem;
}