
.curio__header{
  font-family: Manrope;
  display: none;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 4rem;
}
.gradient__text-m{
  display: flex;
  flex-direction: column;

}
.display-none{
  display: none;
}
.hamburger-m{
display: flex;
flex-direction: column;
height: 5vw;
width: 8vw;
gap: 1vw;
background-color: rgba(0, 0, 0, 0);
transition-duration: .2s;


}
.lines-rotated-left-m{
  height: 1.2vw;
  width: 8vw;
  position: absolute;
  transform: rotate(50deg);
  background-image: linear-gradient(to right,purple, pink);
}
.lines-rotated-right-m{
  height: 1.2vw;
  width: 8vw;
  position: absolute;
  transform: rotate(-50deg);
  background-image: linear-gradient(to right,purple, pink);
}
.hamburger-m:active{
  opacity: .6;
}
.hamburger-m:hover{
  opacity: .6;
}
.hamburger-lines-m{
  height: 2vw;
  width: 8vw;

  background-image: linear-gradient(to right,purple, pink);
}
.curio__header-m{
  font-family: Manrope;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  height: 35vw;
  width: 80vw;
  align-items: center;
  margin-left: 10vw;

}
.hamburger-menu-context{
  color: white;
  transition-duration: .2s;
}
.hamburger-menu-active{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 100;
  background-color: #040c18;
  height: 60vw;
  width: 96vw;
  transition-duration: 1s;
  font-size: 1.1rem;
  font-family: Manrope;
}
.hamburger-menu-context:active{
  opacity: .2;

}
.hamburger-menu-context:hover{
  opacity: .2;

}
.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.curio__icon{
  height: 15mm;
}

.curio__tag{
  padding-right: 4.5rem;
}
.curio_tag-m{
  display: flex;
  flex-direction: column;
}
.curio__sign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.curio__sign p{
  color: #FFF;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.curio__sign button{
  padding: 0.5rem 1rem;
  color: #FFF;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  width: 152px;
  height: 58px;
  left: 1153px;
  top: 55px;

  background: #FF4820;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  [class="curio__header"] {
    display: flex;
  }
  [class="curio__header-m"] {
    display: none;
  }
  [class="hamburger-m"] {
    display: none;
  }
  [class="hamburger-menu-active"] {
    display: none;
  }
  
}
