.curio__header {
  font-family: Sulphur Point;
  display: none;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 4rem;
}
.gradient__text-m {
  display: flex;
  flex-direction: column;
}
.display-none {
  display: none;
}
.hamburger-m {
  display: flex;
  flex-direction: column;
  height: 5vw;
  width: 8vw;
  gap: 1vw;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  margin-top: 5px;
}
.lines-rotated-left-m {
  height: 1vw;
  width: 6vw;
  position: absolute;
  transform: rotate(50deg);
  background: var(--gradient-text);
  border-radius: 20%;
}
.lines-rotated-right-m {
  height: 1vw;
  width: 6vw;
  position: absolute;
  transform: rotate(-50deg);
  background: var(--gradient-text);
  border-radius: 20%;
}
.hamburger-m:active {
  opacity: 0.6;
}
.hamburger-m:hover {
  opacity: 0.6;
}
.hamburger-lines-m {
  height: 1vw;
  width: 6vw;
  border-radius: 20%;

  background: var(--gradient-text);
}
.curio__header-m {
  font-family: Manrope;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  height: 35vw;
  width: 80vw;
  align-items: center;
  margin-left: 10vw;
}
.hamburger-menu-context {
  color: white;
  transition-duration: 0.2s;
}
.hamburger-menu-active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 100;
  height: 60vw;
  width: 96vw;
  font-size: 1.1rem;
  font-family: Manrope;
}
.hamburger-menu-context:active {
  opacity: 0.2;
}
.hamburger-menu-context svg {
  font-size: 30px;
  color: #dfdfdf;
}
.gradient_bg {
  background: -moz-radial-gradient(
    circle at 50% 50%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 50%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 50%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 50%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 50% 50%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 50%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 50% 50%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 50%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 50%
  );
}
.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.curio__icon {
  height: 12.5mm;
  margin-bottom: 0.6rem;
}

.curio__tag {
  padding-right: 4.5rem;
}
.curio_tag-m {
  display: flex;
  flex-direction: column;
}
.curio__sign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curio__sign svg {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  color: #d4d4d4;
  transition: color 0.3s;
}

.curio__sign svg:hover {
  color: #1da1f2;
}

.curio__sign p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.curio__sign button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  width: 152px;
  height: 58px;
  left: 1153px;
  top: 55px;

  background: #ff4820;
  border-radius: 5px;
}

.github_icon svg {
  transition: color 0.3s;
}

.github_icon:hover svg {
  color: #696363;
}

.linkedin_icon svg {
  transition: color 0.3s;
}

.linkedin_icon:hover svg {
  color: #0077b5;
}

.twitter_icon svg {
  transition: color 0.3s;
}

.twitter_icon:hover svg {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  [class="curio__header"] {
    display: flex;
  }
  [class="curio__header-m"] {
    display: none;
  }
  [class="hamburger-m"] {
    display: none;
  }
  [class="hamburger-menu-active"] {
    display: none;
  }
}
