.curio_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #292c35; */
  /* background: var(--color-footer); */
  padding: 30px;
  color: #fff;
}

.curio_footer-heading {
  /* display: flex;
  justify-content: center;
  width: 100%; */
  text-align: center;

  margin-bottom: 2rem;
}

.curio_footer-heading h1 {
  /* font-family: var(--font-family); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.2;
  /* margin-top: 3rem; */
}

.curio_footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;

  margin-bottom: 10rem;
  cursor: pointer;
}

.curio_footer-btn p {
  font-size: 1.1rem;
  font-family: var(--font-family);
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}

.curio_footer_links {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: flex-start;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}

/* .curio_footer_links div {
  width: 250px;
  margin: 1rem;
  display: flex;
} */

.curio_footer_links_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curio_footer_links_logo img {
  /* width: 20vw;
  height: 20vw; */
  /* width: 100px; */
  width: 45%;
  height: auto;
  margin-bottom: 1rem;
}

.curio_footer_links_logo p {
  font-family: var(--font-family);
  font-size: 0.9rem;
  line-height: 1.5;
  /* color: #fff; */
}

.curio_footer_links_div {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}

.curio_footer_links_div h4 {
  font-size: 1.1rem;
  /* line-height: 17px; */
  font-family: var(--font-family);
  color: #fff;
  margin-bottom: 0.5rem;
}

.curio_footer_links_div p {
  font-size: 0.8rem;
  line-height: 1.2;
  font-family: var(--font-family);
  color: #fff;

  margin: 0.5rem 0;
  cursor: pointer;
}

.curio_footer_copyright {
  margin-top: 2rem;
  text-align: center;
  /* width: 100%; */
}

.curio_footer_copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .curio_footer_links_logo img {
    width: 80%;
  }

  .curio_footer_links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .curio_footer_links_div {
    margin-right: 0;
    margin-bottom: 20px;
  }
}